.pagination {
    display: flex;
    justify-content: center;

    .pageNumbers {
        display: flex;
    }

    .previous,
    .next,
    .number {
        background-color: #F4F4F4;
        padding: 5px;
        margin-right: 8px;
        display: grid;
        place-items: center;
        cursor: pointer;
        border-radius: 5px;
    }

    .number {
        //border: 1px solid red;
        // width: 65%;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
    }

    .number.active{
        background-color: #000;
        color: #F4F4F4;
    }
}