.admin-table-wrapper{
    width: 100%;
    margin-top: 5rem;
    nav{
        display: flex;
        gap: 1.5rem;
        border-bottom: solid 1px #E3E3E3;

        div{
             padding: .8rem .5rem;
             cursor: pointer;
        }
        div.active{
            border-bottom: solid 2px #5D5D5D;
        }
    }

}
.admin-table-data{
    margin-top: 2.5rem;
    height: 500px
}

.MuiDataGrid-root{
    border: none !important;
}

.MuiDataGrid-root .MuiDataGrid-iconSeparator{
    display: none;
}

.MuiDataGrid-main{
    border: 0;
}

.MuiDataGrid-columnsContainer{
    background-color: #F5F5F5;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
    padding: 0;
}

.greenField{
display: flex;
flex-direction: row;
align-items: center;
color: #52C41A;
height: 20px;
padding: 0px 15px;
background: #F6FFED;
border: 1px solid #B7EB8F;
box-sizing: border-box;
border-radius: 4px ;
cursor: pointer;
}

.greenField::after{
    content: "";
    border: solid #52C41A;
    border-width: 0 1.8px 1.8px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   margin-left: 3px;
    
}

.redField{
    position: relative;
display: flex;
flex-direction: row;
align-items: center;
color: #FF8A00;
height: 20px;
padding: 0px 15px;
background: #FFF3E5;
border: 1px solid #F5C387;
box-sizing: border-box;
border-radius: 4px ;
}

.redField::after{
    content: "";
    border: solid #FF8A00;
    border-width: 0 1.8px 1.8px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   margin-left: 3px;
    
}