.products__container{
   padding: 45px;
   //border: 1px solid red;
}
.search__input{
    margin-bottom: 15px;
    //border: 1px solid red;
    display: flex;   
    .search{
            width: 70%;
            padding: 10px;
            display: flex;
            align-items: center;
             background-color: #EAEAEA;
            //background-color: #fff;
            border-radius: 3px;
             input{
                width: 100%;
                padding: 10px;
                border: none;
                 background-color: #EAEAEA;
                 color: black;
                //background-color: #fff;
             }
    }
    button{
        background-color: #D11515;
        padding: 3px;
        border: none;
        color: #fff;
        font-size: 0.75rem;
        text-align: center;
        width: 9%;
    }
   
}
.products__header{
    background-color: #FBFBFB;
    padding: 17px;
    color: #606060;
    font-size: 1.45rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.products__content{
    display: flex;
    flex-wrap: wrap;
}

  @media screen and (max-width:900px){
 .products__container{
     padding: 5px;
 }
 .search__input{
     button{
         width: 20%;
     }
 }
} 
.noProduct{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    font-size: 1.4rem;
}