.admin-dashboard-body{
    display: flex;
}

.admin-dashboard-body__data{
    width: 100%;
    padding: 3rem 3rem;
}

.admin-transaction-body__data{
    width: 100%;
    padding: 3rem 3rem;
    background: #F1F1F1;

    .charts{
        display: flex;
        gap: 20px;
        padding-top: 20px;
    }
}


.table__container{
    display: flex;
    justify-content:space-between;
    background: #FFF;
    margin-top: 20px;
    padding: 10px 10px;

    .awaiting_pickup {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .admin-search-wrapper__search{
        position: relative;

        i{
            position: absolute;
            top: 50%;
            transform: translateY(-8px);
            left: 8px;
            color: #AEAEAE;

        }

        input[type="text"]{
            padding: 10px 25px;
            color: #AEAEAE;
            width: 300px;
            border-width: 0;
            background: #F5F5F5;
            border-radius: 4px;

            &:focus{
                outline: none;
            }
            
        }
    }


    
}