.header {
  background-color: black;
  height: 8vh;
  display: flex;
  align-items: center;
  padding-left: 65px;
}
.header img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 4%;
}/*# sourceMappingURL=header.css.map */