.content__container {
  display: flex;
  height: 92vh;
}

.image__container {
  flex: 0.35;
  background: url("../images/np_Happy tourist stopping by a coffee shop for breakfast_0LnNV4_free 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.links, .routes {
  width: 85%;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.links a {
  text-decoration: none;
}

.selected__link, .unselected__link {
  width: 10%;
  text-align: center;
  padding: 10px;
}

.selected__link {
  border-bottom: 2px solid #141414;
}
.selected__link a {
  color: #141414;
}

.unselected__link a {
  color: #B1B1B1;
}/*# sourceMappingURL=loginContainer.css.map */