.login__form {
  width: 75%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login__form button {
  width: 100%;
  background: #141414;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.input__container label {
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 3px;
}
.input__container input {
  padding: 17px;
  background: #F8F8F8;
  border: none;
  outline: none;
}/*# sourceMappingURL=login.css.map */