.otp__content {
  height: 91vh;
  display: flex;
  border: 1px solid black;
}

.image__contain {
  border: 1px solid red;
  flex: 0.6;
  background: url("../images/Two factor authentication-rafiki 1.png");
  background-size: 85%;
  background-repeat: no-repeat;
}

.content {
  flex: 0.4;
  border: 1px solid blue;
}/*# sourceMappingURL=otp.css.map */