.transition-enter {
  opacity: 0.01;
  transform: translate(0, -10px);
  transition: opacity 250ms ease-in;
}

.transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 300ms ease-in;
}

.transition-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.transition-exit-active {
  opacity: 0.01;
  transform: translate(0, 10px);
  transition: all 300ms ease-in;
}/*# sourceMappingURL=transition.css.map */