

.category_modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .category_modal__form{
        width: 500px;
        height: 200px;
        padding: 15px;
        border-radius: 5px;
        background: #fff;
        opacity: 1;
        z-index: 99999;

        svg{
            cursor: pointer;
            float: right;
        }

        .form-control{
            margin: 0 0 30px 0;
        }

        .saveBtn{
            width: 100px;

            button{
                padding: 12px;
            }
        }
    }
}