.cms_input{
    

    input{
        width: 100%;
        padding: 18px 10px;
        color: #000;
        background: #F5F5F5;
        border-radius: 3px;
        border: 0;
        outline: none;
    }

    ::placeholder {
        color: #AEAEAE;
      }
}