.cms_file_upload{
    margin: 50px 0 0 0;
    span{
        display: inline-block;
        color: #606060;
        font-size: 14px;
        padding: 10px 0;
    }

    .cms_file_cover{
            background: #F5F5F5;
            width: 100%;
            padding: 35px 10px;
            border-radius: 3px;

            span{
                display: flex;
                justify-content: center;
                color: #AEAEAE;
                font-size: 12px;
                
            }

            img{
                display: block;
                width: 100px;
                height: 100px;
                margin: 0 auto;
                object-fit: fill;
            }
    }
    label {
        display: flex;
        margin: 0 auto;
        width: 80px;
        align-items: center;
        justify-content: center;
        background-color: #00C853;
        color: #fff;
        padding: 0.5rem;
        font-weight: 500;
        font-size: 12px;
        border-radius: 0.3rem;
        cursor: pointer;
        }


        .file_info{
            display: flex;
            justify-content: space-between;
            color: #fff;
            background: #F5F5F5;
            padding: 5px 18px;
            border-radius: 3px;
            margin-top: 10px;

            span{
                display: block;
            }

            .remove_btn{
                color: #D0342C;
                cursor: pointer;

                &:hover{
                    font-weight: 600;
                }
            }


        }
}