.admin-search-wrapper {
  display: flex;
  justify-content: space-between;
  height: 55px;

  .admin-search-wrapper__search {
    position: relative;
    width: 45%;

    i {
      position: absolute;
      top: 1.2rem;
      left: 1rem;
      color: #aeaeae;
    }

    input[type="text"] {
      width: calc(100% - 5rem);
      padding: 1rem 2.5rem;
      font-size: 1em;
      color: #5e5e5e;
      background: #f5f5f5;
      border-radius: 5px;

      border: none;
    }

    input[type="text"]:focus {
      outline: none;
    }
  }

  .admin-search-wrapper__filters {
    display: flex;
    gap: 2rem;

    .search-date-settings {
      text-align: center;
      line-height: 3;
      background: #f5f5f5;
      border-radius: 5px;
    }

    .dateRangePicker{
        margin-top: -50px;
    }

    .select-input-control{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border:0;
        padding-right: 2rem;
        background: #f5f5f5;
        border-radius: 5px;
        cursor: pointer;

        .selector-options{
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            background: #f5f5f5;
            list-style: none;
            border-radius: 4px;

            li{
                padding: 1rem 1.5rem; 
                
                &:hover{
                    background: #FDFDFD;
                }
            }

        }

        select{
            padding: 1rem 1.5rem;
            background: #f5f5f5;
            border: 0;
            font-size: 1em;
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 1;
            
        }
    }
  }

  .date-input-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    gap: 1.5rem;
    border-radius: 5px;
    padding: 0 1.5rem;
    white-space: nowrap;

    label {
      padding: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    label:nth-child(3) {
      padding-right: 20px;
    }
  }
}
