*{
    margin: 0;
    padding: 0;
}

.admin-side-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    width: 15rem;
    background: #FBFBFB;
    padding-top: 3rem;
    .dashboard-nav-item{
        display: flex;
        gap: .5rem;
        align-items: center;
        padding: .5rem;
        text-decoration: none;
        color: #000000;
        cursor: pointer;
        

        &.current{
            background: #B7B7B7;
        }

        &:active,:visited {
            background: #B7B7B7;
        }
    }
}