.cart__container{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    
}
.mobileCart{
    display: none;
}
.cart__header{
     background-color: #FBFBFB;
    padding: 14px;
    color: #606060;
    font-size: 1.45rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.back__product{
    width: 76%;
    .return{
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 18%;
        font-size: 0.95rem;
    }
}
.cart__header,.cart__content{
    width: 75%;
}
.cart__content{
    //padding: 17px;
    width: 77%;
    display: flex;
    //border: 1px solid red;
    justify-content: space-between;
    margin-top: 40px;
}
.all__orders{
    flex: 0.65;
    table{
        width: 100%;
        border-collapse: collapse;
    }
    tr, th {
        border-bottom: 1px solid #DEDEDE
         //padding: 15px;
    }
    th{ 
        padding: 12px;
        text-align: center;
    }
    td{
        color: #606060;
        font-size: 0.9rem;
        padding: 7px;
    }

    .cart__price,.cart__total,.cart__quantity{
        text-align: center;
    }
    .cart__quantity{
        color: #141414;
        span{
                 background-color: #F4F4F4;
                 padding: 10px;
        }
    }
    .cart__delete{
        cursor: pointer;
    }
    .empty__cart{
        width: 100%;
        padding: 20px;
        text-align: center;
        font-size: 1.25rem;

    }
}
.cart__image{
    display: flex;
    align-items: center;
    img{
        width: 25%;
        margin-right: 7px;
    }
}
.order__summary{
    flex: 0.3;
    //border: 1px solid red;
}

  @media screen and (max-width:900px){
    .cart__header,.cart__content,.back__product,.mobileCart{
        width: 90%;
    }
    .cart__content{
        flex-direction: column;
        display: none;
    }
    .return{
        width: 50% !important;
    }
    .mobileCart{
        display: block;
        margin-top: 15px;
        //border: 1px solid red;
    }
} 