.dashboard{
    //border: 1px solid red;
    height: 100%;
}
.nav__side{
    display: flex;
 
}

.sidebar{
    flex: 0.19;
    background-color: #FBFBFB;
    position: sticky;
    left: 0;
    top: 10vh;
    height: 100%;
  
}
.products{
    flex: 0.81;
    height: 100%;
    
}
  @media screen and (max-width:900px){
  .sidebar{
      display: none;
  }
  .products{
      flex: 1;
  }
  .nav__side{
      flex-direction: column;
  }
} 