.header{
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
.loggedIn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 25px;
    width: 100%;
    img{
        object-fit: cover;
        width: 50%;
    }
    .mobileSibebar{
        display: none;
    }
}
.search{
    color: #C6C6C6;
    border: 1px solid white;
    padding: 4px;
    width: 25%;
    background: #FBFBFB;
    border-radius: 2px;
    display:flex;
    align-items: center;
    input{
        color: #C6C6C6;
        background-color: #FBFBFB;
        padding: 10px;
        width: 100%;
        border: none;
    }
}
.icons{
    display: flex;
}

.user__icon{
    //margin-right: 25px;
    font-size: 1.35rem;
}
.cart__icon{
    margin-left: 25px;
}
.logout__icon{
    margin-left: 7px;
    font-size: 1.35rem;
}
.user__icon,.cart__icon,.logout__icon{ 
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
}
.cart__length{
    display: grid;
    place-items: center;
        position: relative;
        bottom: -15px;
        right: 7%;
        color: white;
        background-color: #D11515;
        border-radius: 100%;
        height: 17px;
        width: 18px;
        text-align: center;
        font-size: 0.7rem;
    }
.logo{
    padding-left: 65px;
     img{
        object-fit: cover;
        width: 50%;
    }
    //border: 1px solid white;
    
}

.username{
    color:#fff;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  @media screen and (max-width:900px){
    .image{
        display: none;
    }
    .mobileSibebar{
        display: block !important;
    }
} 