
.content__container{
    display: flex;
    height: 90vh; 
}
.image__container{
    flex: 0.35;
    // background: url("https://agilityblobstorage.blob.core.windows.net/webappstoragedotnet-imagecontainer/Mask%20Group.jpg");
    background: url('../images/Mask\ Group.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    //background-position: center;
}
.content{
  
    flex: 0.65;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    padding: 30px;


}
.links,.routes{
    width: 85%;
}
.links{
      display: flex;
      justify-content: flex-end;
      margin:20px 0 20px 0;
      a{
          text-decoration: none;
      }
}
.selected__link,.unselected__link{
     width: 10%;
     text-align: center;
     padding: 10px;
}
.selected__link{
    border-bottom: 2px solid #141414;
    color: #141414;    
}
.unselected__link{
    color: #B1B1B1;
}

  @media screen and (max-width:800px){
    .image__container{
        display: none;
    }
    .content{
        flex: 1;
        padding: 15px;
        
    }
    .links,.routes{
        width: 100%;
}
} 