
.login__form{
    width: 75%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        width: 100%;
        background: #141414;
        color: white;
        padding: 15px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.MuiCircularProgress-root {
    color: white !important;
    margin-right: 7px;
}

.input__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    label{
        font-weight: 600;
        font-size: 0.8rem;
        margin-bottom: 3px;
    }
    input{
        padding: 17px;
        background:  #F8F8F8;
        border: none;
    

    }
}
  @media screen and (max-width:800px){
    .login__form{
        width: 100%;
    }
} 