.mobile__cart{
     color: #606060;
     font-weight: 600;
    &Header{
        border-bottom: 1px solid #DEDEDE;
        background-color: #FBFBFB;
        padding: 12px;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &Products{
        display: flex;
        font-size: 0.95rem;
        margin-bottom: 20px;
        border-bottom: 1px solid #DEDEDE;
        .mobile__image{
             //border: 1px solid red;
            width: 25%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .mobile__details{
            width: 50%;
        }
        .mobile__details,.mobile__quantity,.delete{
            display: flex;
            flex-direction: column;
            justify-content: center;
            //border: 1px solid red;
        }
        .mobile__details{
            padding-left: 7px;
        }
        .mobile__quantity{
             span{
                 background-color: #F4F4F4;
                 padding: 8px;
            }
        }

    }
    .empty__cart{
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
}