.orderSummary{
    background-color: #FBFBFB;
    color: #606060;
    //padding: 20px;
    &__header{
        border-bottom: 1px solid #DEDEDE;
        padding: 12px;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &__subtotal{
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        padding: 13px;
    }
}

@media screen and (max-width:900px){
    .orderSummary{
        &__header{
            display: none;
        }
    }
}