.otp__container{
    height: 90vh;
    display: flex;
    //border: 1px solid black;
}
.image__contain{
    //border: 1px solid red;
    flex: 0.55;
    background: url("../images/Two\ factor\ authentication-rafiki\ 1.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    
}
.otp__content{
    flex: 0.45;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        width: 100%;
    }
}

.otp__input{
    padding: 12px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #F8F8F8;
    color: #141414;
    border: none;
    font-size: 2rem;
}

.otp__info{
    //border: 1px solid red;
    width: 80%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 1.7rem;
    }
    .message{
        font-size: 1rem;
        margin:10px 0 30px 0;
        text-align: center;
    }
}
.resend__otp{
    color: #D11515;
    width: 100%;
    font-size: 0.9rem;
    //cursor: pointer;
     margin:20px 0 20px 0;
     span{
          cursor: pointer;
     }
    // border: 1px solid red;
}

button{
    padding: 15px;
    background-color: #141414;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

  @media screen and (max-width:800px){
      .otp__container{
          height: 85vh;
      }
    .image__contain{
        display: none;
    }
    .otp__content{
        flex: 1;
        padding: 20px;
        //border: 1px solid red;
    }
    .otp__info{
        width: 100%;
    }
} 