.overview__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #FFFFFF;
    border: 2px solid #F9F8F8;
    border-radius: 4px;
    height: 55px;

    .overview__title{
        color: #000;
        font-size: 25px;
        font-weight: 600;
    }
}

.dropdown__container{
        position: relative;
    select{
        padding: 10px;
        background: #F5F5F5;
        border-radius: 4px;
        border: 0;
        font-size: 1em;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;

        &:focus{
            outline: none;
        }
    }

    
}

.selector-options {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    background: #f5f5f5;
    list-style: none;
    border-radius: 4px;

    li {
        padding: 1rem 1.5rem;
        cursor: pointer;

        &:hover {
            background: #FDFDFD;
        }
    }

}
