.sidebar__container{
    position: fixed;
    left: 0;
    // border: 1px solid black;
    padding: 30px 0 0 0;
    height: 100%;
    overflow: scroll;
    
}
.sidebar__links{
    list-style: none;
    padding: 12px;
    margin: 0;
}
.link{
    font-size: 0.85rem;
    font-weight: 400;
     //border: 1px solid black; 
     padding: 12px;
     border-radius: 5px;
     display: flex;
     align-items: center;
     margin-bottom: 3px;
     cursor: pointer;
    img{
        margin-right: 8px;
    }
}
.link:hover{
    background-color: #fff;
}