.signup{
    width: 75%;
     button{
        width: 100%;
        background: #141414;
        color: white;
        padding: 15px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.MuiCircularProgress-root {
    color: white !important;
    margin-right: 7px;
}
  @media screen and (max-width:800px){
    .signup{
        width: 100%;
    }
} 