// .fade-enter {
//   opacity: 0;
//   z-index: 1;
// }

// .fade-enter.fade-enter-active {
//   opacity: 1;
//   transition: opacity 250ms ease-in;
// }

// .list-transition-enter, .list-transition-appear {
// /*We give the list the initial dimension of the list button*/
// top: 0;
// width: 200px;
// border: 1px solid red;
// color: transparent;

// }
// /* This is where we can add the transition*/
// .list-transition-enter-active, .list-transition-appear-active {
// top: 45px;
// width: 300px;
// border: 1px solid black;
// transition: all 400ms;
// }
// /* This fires as soon as the this.state.showList is false */
// .list-transition-exit {
// }
// /* fires as element leaves the DOM*/
// .list-transition-exit-active {
// color: transparent;
// transition: all 400ms;
// // border: 1px solid green;
// }
  .transition-enter {
    opacity: 0.01;
    transform: translate(0, -10px);
      transition: opacity 250ms ease-in;
  }
  .transition-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 300ms ease-in;
  }
  .transition-exit {
    opacity: 1;
    transform: translate(0, 0);
  }
  .transition-exit-active {
    opacity: 0.01;
    transform: translate(0, 10px);
    transition: all 300ms ease-in;
  }