input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.product{
   //transition: all 0.2s linear;
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26%;
  margin: 0 45px 35px 0;
  color: #606060;
}

.product:last-child{
  margin-right: 0;
}
.product__image{
  img{
    width: 100%;
    object-fit: contain;
  }

}

.product__quantity,.productName__price{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 10px;
}
.productName__price{
  .product__price{
    //border: 1px solid red;
    font-weight: 600;
    color: #000;
    flex: 0.4;
  }
  .product__name{
     //border: 1px solid red;
     flex: 0.5;
  }
}
.product__description{
  padding: 5px;
  margin-top: 10px;
  font-size: 0.85rem;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
  //border: 1px solid red;
}
.product__quantity{
  //position: relative;
  bottom: 40%;
  input{
    width: 21%;
    padding: 7px;
    background-color: #F4F4F4;
    text-align: center;
    border: none;
  }
  span{
    background-color: #F4F4F4;
    padding: 5px;
    width: 12%;
    cursor: pointer;
    //border: 1px solid red;
  }
  .product__number{
    flex: 0.33;
    background-color: #FFE2E2;;
    color: #141414;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 3px;
    height: 25px;
  }
  .product__value{
    flex: 0.4;
    //border: 1px solid red;
    display: flex;
    justify-content: space-between;
  }
  
}

.cart__button{
  width: 100%;
  bottom: 0;
  //border: 1px solid red;
  button{
    background-color: #141414;
    padding: 15px;
    text-align: center;
    color: white;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .button__inCart{
    background-color: #EAEAEA;
    color: #141414;
    font-weight: 600;
    cursor: not-allowed;
  }

  i{
    margin-right: 12px;
  }
}

// @media (min-width: 801px) and (max-width: 1100px) {
//   body {
//     background-color: purple;
//   }
// }

@media screen and (max-width:900px){
 .product{
   width: 47%;
   margin-right: 8px;
   //height: 400px;
   //max-height: 400px !important;
 }
 .product__description{
   font-size: 0.85rem;
 }
 .productName__price{
   font-size: 0.9rem;
 }
 .product__quantity{
    input{
      padding: 5px;
      width: 18%;
    }
    .product__number{
      font-size: 0.6rem !important;
      flex: 0.5 !important;
 }
 }
} 
