.content_manager{

    .content_fields_container{
        width: 50%;
        margin: 0 auto;
        padding: 70px 0;

        .title_box{
            display: flex;
            gap: 15px;
            align-items: center;


            span{
                display: block;
                background: #FAFAFA;
                padding: 0 5px;

                svg{
                    fill: #AEAEAE;
                    margin-top: 3px;
                    font-size: 1.3rem;
                }
            }
        }
    }


    .form-control{
        margin: 50px 0;
    label{
        display: inline-block;
        text-transform: capitalize;
        padding: 10px 0;
        color: #606060;
        font-size: 14px;
    }

    .product_category{
        display: flex;
        justify-content: space-between;
        .cat_cover{
            position: relative;
            width: 70%;
            &::after {
                content: url('../../images/selectArrow.svg');
                font-size: 1rem;
                top: 15px;
                right: 20px;
                position: absolute;
                // z-index: -1;
        
            }  
        }

        .cat_btn{
            width: 28%;
        }
    }


    }


    small{
        display: block;
        padding: 10px 0;
    }

    small.error{
        color: red;
        font-style: italic;
    }
}