.piechat{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 400px;
    height: 400px;
    

    .piechat__description{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px;
        border-bottom: 1px solid #F3F2F4;
    }
}