*{
   
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;        /* Opera/IE 8+ */
}

.overlays {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .05);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
.center{
    display: grid;
    place-items: center;
    height: 100vh;
}
.App{
  font-family: 'Inter', sans-serif;
}